.collapsible {
    background-color: rgb(30, 30, 30);
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.collapsible:hover {
    background-color: #ccc;
}


/* spinner */

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}


/* Style the collapsible content. Note: hidden by default */

.taskContent {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    color: black;
}

.dragable {
    -ms-overflow-style: scrollbar;
    -webkit-app-region: drag;
    min-width: 100%;
}

.nodrag {
    -webkit-app-region: no-drag;
}

.storyContainer {
    background-color: ivory;
}

.menuButton {
    padding-right: 10px;
    padding-top: 2px;
    height: 15px;
}